/* Color Scheme
    #392F5a - Space Cadet    (header/footer)
    #36558f - Y in MN Blue   (content backgrounds)
    #bfc0c0 - Silver         (visited links text)
    #cc2936 - Madder Lake    (border color)
    #648767 - Russian Green  (app placeholder bg color)
    whitesmoke               (text)
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #392f5a;
    /*
    Commented out image.
        background-image: url(../images/Hubble-deep-field.jpg);
        background-size: cover;
        background-position: top;
    */
    padding: 5px 15px;
}

header h1 {
    font-size: 36px;
    padding-top: 13px;
}

header a {
    color: whitesmoke;
    text-decoration: none;
}

header a:visited {
    color:#bfc0c0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 15px 0 8px 0;
    padding: 10px 30px;
    font-size: 22px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
/* End Header Styles */

/* Hero Style */
.hero-style {
    width: 100%;
    height: 200px;
    background-image: url(../images/Nebula-cloud.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-style p {
    color: whitesmoke;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
/* End Hero Style */

/* Main Section Styles */
main {
    font-size: 18px;
}
h2 {
    font-size: 30px;
    padding: 10px 5px 5px 5px;
}
/* Main Section Styles */

/* About Me Styles */
.about-me {
    color: whitesmoke;
    font-size: 18px;
    background-color: #36558f;
}

.about-me div {
    padding: 15px 0 0 15px;
    line-height: 1.5;
}

.certifications h3 {
    font-size: 24px;
}

.certifications ul {
    padding: 10px 0 20px 20px;
}

.certifications ul li {
    line-height: 2;
}
/* End About Me Styles */

/* My Work Styles */
.my-work {
    background-color: #36558f;
}

.app-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main {
    margin: 20px;
    min-width: 70%;
}

.app {
    margin: 20px 0;
    flex: 0 45%;
    background-color: #648767;
    border: 4px solid #ffd700;
    border-radius: 10px;
    min-height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.app a {
    display: flex;
    width: 100%;
    height: auto;
}

.app a img {
    width: 100%;
}

.app-title {
    background-color: #392f5a;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #ffd700;
}
/* End My Work Styles */

/* Footer Styles */
footer {
    background-color: #392f5a;
    /* Commented out image
    background-image: url(../images/Hubble-deep-field.jpg);
    background-size: cover;
    background-position: bottom;
    */
    padding: 0 15px 15px 15px;
}

footer address {
    padding-top: 25px;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

footer a:visited {
    color: #bfc0c0;
}

footer address div {
    flex: 1;
}

.footer-flex {
    display: flex;
    justify-content: flex-start;
}
/* End Footer Styles */

/* Reusable Classes */
.border-bottom {
    border-bottom: 5px solid #ffd700;
}

.title-border-bottom {
    border-bottom: 2px solid whitesmoke;
}

.div-text {
    padding-right: 5px;
}
/* End Reusable Classes */

/* Media Queries */
@media screen and (max-width: 1024px) {
    header h1 {
        padding-top: 15px;
        font-size: 36px;
    }

    header nav ul li {
        padding: 10px 15px;
        font-size: 2.3vw;
    }

    .app {
        min-height: 400px;
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 22px;
    }
    .certifications h3 {
        font-size: 20px;
    }
    .about-me {
        font-size: 16px;
    }
    .app {
        min-height: 300px;
    }
}

@media screen and (max-width: 600px) {
    h2, h3 {
        display: flex;
        justify-content: center;
    }
    
    .header-flex {
        justify-content: center;
    }

    header nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    header nav ul {
        flex: 1;
        justify-content: space-around;
    }

    header nav ul li {
        font-size: 3vw;
    }

    .app {
        min-height: 250px;
        flex: 0 80%;
    }

    .hero-style {
        background-position: bottom;
        max-height: 100px;
        justify-content: center;
        align-items: center;
    }

    .main {
        min-height: 300px;
        min-width: 85%;
    }
}