* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header Styles */
header {
    background-image: url(../images/Hubble-deep-field.jpg);
    background-size: cover;
    background-position: top;
    padding: 15px;
    border-bottom: 3px solid salmon;
}

header h1 {
    font-size: 50px;
}

header a {
    text-decoration: none;
}

header a:visited {
    color:lightgray;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 15px 10px;
    font-size: 1.5vw;
}
/* End Header Styles */

/* Hero Style */
.hero-style {
    width: 100%;
    height: 200px;
    background-image: url(../images/Nebula-cloud.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid salmon;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-style p {
    color:black;
    padding: 10px;
    font-size: 40px;
    text-align: center;
}
/* End Hero Style */

/* Main Section Styles */
main {
    background-color: black;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

main h2 {
    width: 20%;
    font-size: 40px;
    padding: 5px;
    border-bottom: 2px solid whitesmoke;
}

main div {
    flex: 0 80%;
    padding: 15px 0 0 15px;
    line-height: 1.5;
}
/* End Main Section Styles */

/* About Me Styles */
.certifications h3 {
    font-size: 30px;
}

.certifications ul {
    padding-left: 20px;
}

.certifications ul li {
    line-height: 2;
}
/* End About Me Styles */

/* My Work Styles */
.my-work {

}

.main-app img {
    width: 80%;
    height: auto;
}
/* End My Work Styles */

/* Footer Styles */
footer {
    background-image: url(../images/Hubble-deep-field.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 15px;
    border-top: 3px solid salmon;
}

footer a {
    text-decoration: none;
    color: antiquewhite;
}

footer a:visited {
    color: peachpuff;
}

footer ul li {
    line-height: 1.5;
}
/* End Footer Styles */

/* Reusable Classes */
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

