/* Page Color Scheme */
:root {
    --primary-text: whitesmoke;
    --secondary-text: #bfc0c0;
    --bg-color: #392f5a;
    --section-bg: #36558f;
    --border-color: #ffd700;
    --app-bg: #648767;
}

/* Universal Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 79px; /* height of sticky header */
}

body {
    color: var(--primary-text);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 16px;
}

/* Header Styles */
header {
    height: 80px;
    position: sticky;
    top: 0;
    background-image: url(../images/Nebula-cloud.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

header h1 {
    flex: 0 50%;
    padding: 0 10px;
    font-size: 48px;
    text-shadow: 0 0 10px black;
}

header nav {
    flex: 0 50%;
    display: flex;
    align-items: center;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li a { 
    width: 80%;
    text-align: center;
    word-wrap: normal;
    color: var(--primary-text); 
    text-decoration: none;
    padding: 10px 0;
    font-size: 100%;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

header nav ul li a:hover {
    background-color: var(--border-color);
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    color: var(--bg-color);
}
/* End Header Styles */

/* Hero Style */
.hero-style {
    width: 100%;
    height: 200px;
    background-image: url(../images/Nebula-cloud.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-attachment: fixed;
}

.hero-style p {
    color: var(--primary-text);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 10px black;
}
/* End Hero Style */

/* About Me Section */
.about-me-column {
    flex-direction: column;
    text-align: left;
    max-width: 85%;
}

.about-me-column img {
    width: 400px;
    height: auto;
    float: left;
    padding: 10px;
}

.about-me-column div {
    display: block;
}

.indent {
    text-indent: 35px;
    line-height: 1.8;
}

.about-me-column h3 {
    padding-top: 15px;
    font-size: 24px;
    text-shadow: 0 0 10px black;
}

.about-me-column div p {
    padding-left: 10px;
}

.secondary-cert {
    font-size: 14px;
    padding-bottom: 15px;
}
/* End About Me Section */

/* My Work Styles */
.app-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.app-container a {
    color: var(--primary-text);
    text-decoration: none;
}

.main-app {
    min-width: 95%;
}

.secondary-app {
    width: 45%;
}

.app {
    margin: 20px 0;
    flex: 0 45%;
    background-color: var(--app-bg);
    border: 4px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    box-shadow: -5px 5px 10px black;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: left top;
}

.app:hover {
    opacity: 70%;
}

.app span {
    height: max-content;
    justify-self: baseline;
}

.app-title {
    background-color: var(--bg-color);
    width: 100%;
    text-align: center;
    border-top: 2px solid var(--border-color);
}

.app-subtitle {
    padding-left: 5px;
    font-size: 16px;
    opacity: 80%;
}

.placeholder4 {
    background-image: url(../images/JSQ.jpg);
}

.password-generator {
    background-image: url(../images/Password-Generator.jpg);
    background-position: top center;
}

.ultra-deep-field {
    background-image: url(../images/placeholder2.jpg);
}

.github {
    background-image: url(../images/GitHub.jpg);
}

.run-buddy {
    background-image: url(../images/run-buddy.jpg);
}
/* End My Work Styles */

/* Footer Styles */
footer a {
    text-decoration: none;
    color: var(--primary-text);
}

footer a:visited {
    color: var(--secondary-text);
}

footer address {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
/* End Footer Styles */

/* Reusable Classes */
.section {
    padding: 15px;
    background-color: var(--section-bg);
    width: 100%;
    display: flex;
    color: var(--primary-text);
    font-size: 18px;
}

.section-title {
    text-align: right;
    width: 15%;
    font-size: 30px;
    padding: 10px 15px 5px 0;
    text-shadow: 0 0 10px black;
}

.section-border-left {
    line-height: 1.5;
    padding-left: 15px;
    border-left: 2px solid var(--primary-text);
}

.section-border-bottom {
    border-bottom: 5px solid var(--border-color);
}
/* End Reusable Classes */

/* Start Media Queries
    1024px Media Query */
@media screen and (max-width: 1024px) {
    html {
        scroll-padding-top: 100px; /* height of sticky header */
    }

    header {
        height: 100px;
    }
    
    header h1 {
        font-size: 36px;
    }

    header nav ul li a { 
        font-size: 85%;
    }

    .hero-style {
        height: 125px;
    }

    .hero-style p {
        font-size: 26px;
    }

    .about-me-column img {
        width: 45%;
        height: auto;
        float: left;
        padding: 10px;
    }

    .secondary-cert {
        font-size: 12px;
    }

    .section-title {
        font-size: 20px;        
    }

    .app {
        height: 300px;
    }
}

/* 768px Media Query */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }
    
    header nav ul li a {
        font-size: 66%;
    }

    .about-me-column h3 {
        font-size: 18px;
    }

    .hero-style {
        height: 100px;
    }

    .secondary-app {
        flex: 0 45%;
    }
    
    .app-title{
        font-size: 14px;    
    }
    .app-subtitle {
        font-size: 14px;
    }

    footer p {
        font-size: 14px;
    }
}

/* 600px Media Query - Centering Most Elemenets */
@media screen and (max-width: 600px) {
    html {
        scroll-padding-top: 125px; 
    }

    header {
        height: 125px;
        padding-bottom: 10px;
        flex-direction: column;
    }
    
    header h1 {
        text-align: center;
        font-size: 36px;
        padding-top: 10px;
    }

    header nav {
        width: 100%;
    }

    header nav ul li a {
        font-size: 90%;
    }

    .hero-style {
        justify-content: center;
        align-items: center;
    }

    .section {
        flex-direction: column;
        padding: 15px 5px;
        align-items: center;
    }

    .section-border-left {
        line-height: 1.5;
        padding: 10px 5px;
        border-left: none;
    }

    .section-title {
        padding: 10px 10px;
        text-align: center;
        width: 35%;
        align-self: center;
        font-size: 24px; 
        border-bottom: 2px solid var(--primary-text);
    }
    
    .header-flex {
        justify-content: center;
    }

    .about-me-column {
        max-width: 100%;
    }

    .about-me-column h3 {
        font-size: 22px;
        text-align: center;
    }

    .about-me-column div p {
        padding-left: 0;
    }

    .primary-cert {
        text-align: center;
    }

    .secondary-cert {
        text-align: center;
        padding-bottom: 10px;
    }

    .secondary-app {
        flex: 0 80%;
    }

    .section address {
        align-items: center;
        width: 100%;
    }
}

/* 400px Media Query */
@media screen and (max-width: 400px) {
    header h1 {
        font-size: 30px;
    }

    header nav ul li a {
        font-size: 80%;
    }

    .section-title {
        width: 40%;
    }
}